.beta-bar--old-version,
.beta-bar--old-version:visited {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid var(--betabar-foreground-color, var(--color-thimphu));
}

.beta-bar--old-version:hover {
  color: var(--betabar-old-version-hover, var(--color-boston));
  border-bottom: none;
}

.beta-bar {
  overflow: hidden;
  color: var(--betabar-foreground-color, var(--color-thimphu));
  font-weight: bold;
  background: var(--betabar-background-color, var(--betabar-text-color, var(--color-chicago)));
  fill: var(--betabar-foreground-color, var(--color-thimphu));
}

.beta-bar--message-economist {
  font-style: italic;
}

.beta-bar--feedback {
  margin:
    -var(--betabar-feedback-vertical-padding, var(--grid-spacing-hedgehog))
    var(--betabar-feedback-horizontal-margin, var(--grid-spacing-sheep))
    -var(--betabar-feedback-vertical-padding, var(--grid-spacing-hedgehog))
    0;
  padding:
    var(
      --betabar-feedback-vertical-padding,
      var(--grid-spacing-hedgehog)
    ) var(--betabar-feedback-horizontal-padding, var(--grid-spacing-sheep));
  color: var(--betabar-background-color, var(--betabar-text-color, var(--color-chicago)));
  font-size: 1em;
  background: var(--betabar-foreground-color, var(--color-thimphu));
}

.beta-bar--feedback:hover {
  background: var(--betabar-feedback-hover, var(--color-boston));
}

/* stylelint-disable selector-no-type */

.beta-bar--close-wrapper:hover svg {
  /* stylelint-enable selector-no-type */
  fill: var(--betabar-close-hover, var(--color-boston));
}

.beta-bar--buttons-wrapper {
  margin-top: var(--betabar-buttons-vertical-spacing, var(--grid-spacing-sheep));
  text-align: left;
}

.beta-bar--old-version {
  float: right;
}

@media (--betabar-viewport-buttons-together) {
  .beta-bar--old-version {
    float: none;
  }
}

@media (--betabar-viewport-stacked) {
  .beta-bar {
    line-height:
      var(
        --betabar-mobile-line-height,
        calc(
          var(--text-line-height-sans-on-step--2) + var(--extra-line-height-on-mobile, 0.2em)
        )
      );
  }
}

@media (--betabar-viewport-non-stacked) {
  .beta-bar--buttons-wrapper {
    float: right;
    margin-top: 0;  /* Removing vertical padding */
  }
  .beta-bar--old-version {
    margin-right: var(--betabar-spacing-from-close-button, var(--grid-spacing-sheep));
  }
}
